body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: seashell;
}
h1{
    margin: 2.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
table {
    
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;

    }
    table tr th{
        background: #35A9DB;
        color: #fff;
        font-weight: normal;
    }
    
    table1 th, td {
        padding: 8px 20px;
        text-align: center;
    }
    
    table tr:hover {
        background-color: ghostwhite;
    }
    
    table tr:nth-child(even) {
        background-color: white;
    }